* {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#link1 a:link {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 30px;
    padding: 10px 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
}

#link1 a:visited {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 30px;
    padding: 10px 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
  }
  #link1 a:hover, a:active {
    background-color: rgb(147, 153, 156);
    color: white;
  }
h1 {
    text-align: center;
    margin-top: 50px;
}
#text {
    margin-left: 100px;
}

.img-logo img{
    width: 150px;
    margin-left: 50px;
    
}

nav{
    padding: 20px;
    background-color:#efeaed;
    border-bottom: 2px solid rgba(33, 52, 105, 1);
}

.nav{
    position: absolute;
    right: 25px;
    top: 42px;
}

.nav a{
    margin-right: 40px;
    font-size: 25px;
    color: rgba(33, 52, 105, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

.nav a:hover{
    color:rgba(33, 52, 105, 1);
    font-size: 20px;
    background-color: rgb(223, 220, 220);
    border-radius: 20px;
    padding: 10px;
}

