footer {
    background-color: rgb(134, 189, 240);
    padding: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a {
    text-decoration: none; 
    color: inherit; 
}
#container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#column {
    width: 30%;
    padding: 0 15px;
}
#copyright{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
