.img-logo img{
    width: 160px;
    margin-left: 50px;
    
}

nav{
    padding: 20px;
    background-color: rgb(240, 242, 245)
    
}

.nav{
    position: absolute;
    right: 25px;
    top: 42px;
}

.nav a{
    margin-right: 40px;
    font-size: 25px;
    color: #0844c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

.nav a:hover{
    color: #215af8;
    font-size: 20px;
    background-color: rgb(223, 220, 220);
    border-radius: 20px;
    padding: 10px;
}
