*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#obrigado {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
    color: rgba(33, 52, 105, 1);
}

#obrigado a {
    margin-top: 15px;
    text-decoration: none;
    color: rgba(33, 52, 105, 1);
}