@charset "UTF-8";

p{
    text-align: left;
    padding:  0 50px; 
}

#sobrenos{
    height: 150px;
    width: 100%;
    background-image: url("https://br.freepik.com/fotos-gratis/close-up-do-homem-de-negocios-com-tabuleta-digital_855036.htm#fromView=search&page=1&position=1&uuid=a30ca593-8947-49a3-918e-12a196779690");
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: 'MS3';
    text-align: center;
    justify-content: center;
}